[Unit]
Description=Datalogger for AECloud

[Service]
Type=simple
User=root
ExecStart=/usr/bin/data_logger
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

