[Unit]
Description=ADS-B interface for AECloud

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/share/dump1090
ExecStart=/usr/bin/dump1090d --net --metric --aggressive 
StandardOutput=null
StandardError=null
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

