[Unit]
Description=ADS-B interface for AECloud
After=dump1090.service dehivehived.service data_logger.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/hiveads 
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

