Package: hiveads
Version: 1.0-26
Section: base
Priority: optional
Architecture: armhf
Depends: librtlsdr0, libjson-c3
Maintainer: Casper Mogensen <casper.mogense@gmail.com>
Description: ADS-B interface for AECloud
